[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "==19.3b0"
awsebcli = "*"

[packages]
django = "==2.2.5"
pillow = "*"
django-countries = "*"
django-seed = "*"
django-dotenv = "*"
django-mailgun = "*"
requests = "*"
pipenv-to-requirements = "*"
black = "==20.8b1"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
