<div class="w-1/4 mb-10 px-2">
    <a href="{% url 'restaurants:detail' restaurant.pk %}">
        <div class="w-full h-64 bg-cover bg-center rounded-lg mb-2"
            style="background-image: url({{restaurant.first_photo}});">
        </div>
        <div class="flex justify-between mb-2">
            <div class="w-4/5 block truncate overflos-hidden flex">
                <span class="text-sm text-gray-600 block truncate font-light">{{restaurant.city}}</span>
            </div>
            <span class="text-sm flex items-center">
                <i class="fas fa-star text-red-500 text-xs mr-px"></i> {{restaurant.total_rating}}
            </span>

        </div>
        <span class="text-black w-11/12 block truncate">
            {{restaurant.name}}
        </span>
    </a>
</div>