{% extends "base.html" %}
{% load static i18n %}
{% block page_title %}
{{restaurant.name}}'s Photos
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

<div class="container mx-auto my-10 flex flex-col">
    <div class="my-10 w-full">
        <a href="{% url 'restaurants:add-photo' restaurant.pk %}"
            class="btn-link w-1/6 block">{%trans "Upload Photo"%}</a>
    </div>


    {% for photo in restaurant.photos.all %}
    <div class="mb-5 border p-6 gorder-gray-400 flex justify-between">
        <div class="flex items-start">
            <img src="{{photo.file.url}}" class="w-32 h-32" />
            <span class="ml-5 text-xl">{{photo.caption}}</span>
        </div>
        <div class=" flex flex-col w-1/5">
            <a class="btn-link mb-5 bg-teal-500"
                href="{% url 'restaurants:edit-photo' restaurant.pk photo.pk %}">Edit</a>
            <a class="btn-link bg-red-700"
                href="{% url 'restaurants:delete-photo' restaurant.pk photo.pk %}">{%trans "Delete"%}</a>
        </div>
    </div>
    {% endfor %}

    <div class="flex justify-center mt-5">
        <a href="{% url 'restaurants:edit' restaurant.pk %}" class="text-teal-500 font-medium text-2xl">
            {%trans "Back to edit restaurant"%}
        </a>
    </div>

</div>
{% endblock content %}