{% extends "base.html" %}

{% block page_title %}
Reservation
{% endblock page_title %}

{% block content %}
<div class="container mx-auto pb-10 flex flex-col items-center">
    <form action="{% url 'reservations:create' room year month day time numOfGuests %}" method="POST">
        {% csrf_token %}
        <label for="numOfGuests">Number Of Guests:</label>
        <input type="number" name="numOfGuests" id="numOfGuests" />
        <input type='submit' value="Make Reservation"></input>


    </form>
</div>
{% endblock content %}