{% extends "base.html" %}
{% load static i18n %}
{% block page_title %}
{{user_obj.first_name}}'s Profile
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

<div class="h-full">
    <div
        class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">

        {% include "mixins/user_avatar.html" with suer=user_obj %}
        <div class="flex items-center">
            <span class="text-3xl mt-1">{{user_obj.first_name}}</span>
            {% if user_obj.superhost %}
            <i class="fas fa-check-circle text-teal-400 ml-1"></i>
            {% endif %}
        </div>

        <span class="text-lg mb-5">{{user_obj.bio}}</span>

        {% if user == user_obj %}
        <a href="{% url 'users:update' %}" class="btn-link">{%trans "Edit Profile"%}</a>
        {% endif %}

    </div>

    {% if user_obj.restaurants.all.count > 0 %}
    <div class="container mx-auto pb-10 flex flex-col items-center">
        <h3 class="mb-12 text-2xl">{{user_obj.first_name}}{%trans "'s Restaurants"%}</h3>
        <div class="grid gap-2 w-full grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 mt-1">
            {% for restaurant in user_obj.restaurants.all %}
            {% include 'mixins/restaurant_card.html' with restaurant=restaurant %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

</div>

{% endblock content %}